<!DOCTYPE html>
<html>
<!--AWESOME ICON LINK https://fontawesome.com/search?q=search&o=r&m=free-->

<head>
    <meta charset="utf-8" />
    <title>ISRAEL</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="/css/category-styles.css" rel="stylesheet" type="text/css" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="container-navbar">
            <nav class="navbar">
                <a href="/" class="nav-portfolio">Portfolio.</a>
                <ul class="nav-menu">
                    <li>
                        <a class="nav-links" href="/redirectRoutes/index-node">Home</a>
                    </li>
                    <li>
                        <a class="nav-links" href="/redirectRoutes/about">About</a>
                    </li>
                    <li>
                        <a class="nav-links" href="/users/user-management">User</a>
                    </li>
                    <li>
                        <a class="nav-links" href="/books/book-management">Books</a>
                    </li>
                    <li>
                        <a class="nav-links" href="/users/admin-user-management">Order</a>
                    </li>
                    <li>
                        <a class="nav-links" href="/categories/admin-category-management">Category</a>
                    </li>
                    <li>
                        <a class="nav-links" href="/users/admin-user-management">Sales</a>
                    </li>
                    <li>
                        <a class="nav-links" href="/users/login">Sign in</a>
                    </li>
                    <li>
                        <a class="nav-links" href="/users/signup">Sign up</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="container-navbar2">
            <nav class="navbar2">
                <ul class="nav-menu2">
                    <li>
                        <a class="nav-links2" href="#">CATEGORIES <i
                                class="bx bxs-category"></i></a><!--<i class="arrow down"></i></p>-->
                        <!--ARROW DOWN CODE &#9660;-->
                        <ul class="dropdown">
                            <li>
                                <a href="#">ADVENTURE
                                    <i class="bx bxs-tree-alt"></i></a>
                            </li>
                            <li>
                                <a href="#">CRIME FICTION
                                    <i class="bx bxs-face-mask"></i></a>
                            </li>
                            <li>
                                <a href="#">FANTASY <i class="bx bxs-castle"></i></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="nav-links2" href="#">BOOKS <i class="bx bxs-book"></i></a>
                    </li>
                    <li>
                        <a class="nav-links2" href="#">ORDER <i class="bx bxs-cart"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="categoryAdminContainer">
        <div class="searchCreateFeatures">
            <h1>Category Management <i class="fa-solid fa-layer-group"></i></h1>
            <div class="divAddNewCategory">
                <a href="/categories/create-new"> Create a new category
                    <i class="fa-regular fa-square-plus"></i></a>
            </div>
            <div class="divSearchCategory">
                <form class="formGetOneCategory" id="formGetOneCategory" method="get">
                    <div>
                        <label for="categoryID">Search Category by ID or Name</label>
                    </div>
                    <input class="categorySearchInput" type="text" id="categoryIdOrName" name="categoryIdOrName"
                        placeholder="Category ID or name.." />
                    <button onclick="appendCategoryIdToActionPath()" class="buttonCategorySearch">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
                <div class="formGetallCategory">
                    <form action="/categories" method="get">
                        <button class="buttonGetCategories">
                            <i class="fa-solid fa-table-list"></i> Display Category list
                        </button>
                    </form>
                    <% if (typeof(message) !="undefined" ) {%>
                        <% if (message.length> 0){ %>
                            <div class="message-category-managemnet">
                                <i class="fa-solid fa-triangle-exclamation"></i>
                                <%= message %>
                            </div>
                            <%}%>
                                <%}%>
                </div>
            </div>
            <% if (category !=false) {%>
                <% if ( typeof(category) !="undefined" ) {%>
                    <div class="categoryFormShowOne">
                        <div class="form-control-show-one-category">
                            <div class="categoryFormLabelLeft">
                                <label for="fname">Name: </label>
                            </div>
                            <div class="categoryTextBoxFloatRight">
                                <div class="categoryFormIconMidle">
                                    <i class="fa-solid fa-layer-group"></i>
                                </div>
                                <div class="categoryFormInputRight">
                                    <input class="inputCategoryCreate" type="text" id="name" name="name"
                                        value="<%- category.name%>" disabled />
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="form-control-show-one-category">
                            <div class="categoryFormLabelLeft">
                                <label for="fdescription">Description: </label>
                            </div>
                            <div class="categoryTextBoxFloatRight">
                                <div class="categoryFormIconMidle">
                                    <i class="fa-solid fa-align-left" style="width: 18px;"></i>
                                </div>
                                <div class="categoryFormInputRight">
                                    <input class="inputCategoryCreate" type="text" id="description" name="description"
                                        value="<%- category.description%>" disabled />
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-control-show-one-category">
                            <div class="categoryFormLabelLeft">
                                <label for="fcolor">Color: </label>
                            </div>
                            <div class="categoryTextBoxFloatRight" style="margin-right: 95px;">
                                <div class="categoryFormIconMidle">
                                    <i class="fa-solid fa-eye-dropper" style="width: 18px;"></i>
                                </div>
                                <div class="categoryFormInputRight">
                                    <input class="inputcategoryCreate" style="width: 150px; height: 30px;" type="color"
                                        id="color" name="color" value="<%- category.color%>" disabled />
                                </div>
                            </div>
                        </div>
                        <br>
                        <div><a class="fa-awsome-category-edit" href="/categories/<%= category.id %>">
                                Edit <i class="fa-solid fa-pencil"></i></a></div>
                    </div>
                    <%}%>
                        <%}%>
        </div>
        <div class="categoryMangementTable">
            <% if (categoriesListDisplay !=false) {%>
                <% if ( typeof(categoriesListDisplay) !="undefined" ) {%>
                    <table cellpadding="0" class="categoryManagementTableDisplay" id="categoryManagementTableDisplay">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Color</th>
                            <th>Edit</th>
                        </tr>
                        <%categoriesListDisplay.forEach(category=> { %>
                            <tr>
                                <td>
                                    <%= category.name%>
                                </td>
                                <td>
                                    <%= category.description%>
                                </td>
                                <td>
                                    <input class="tableCategoryColor" type="color" value="<%= category.color%>"
                                        disabled />
                                </td>
                                <!-- More Info call the page to populate and edit-->
                                <td><a class="fa-awsome-category-info" href="/categories/<%= category.id %>">
                                        <i class="fa-solid fa-pen-to-square"></i></a></td>
                                <%})%>
                            </tr>
                    </table>
                    <%}%>

                        <%}%>
        </div>
    </div>
    <script type="text/javascript" src="/js/category-management-scripts.js"></script>
</body>

</html>